/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

#logo-container a {
    text-decoration: none;
}

#logo-container h1 {
    color: green;
}

#menu a {
    color: white;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    padding: 10px;
    box-shadow: 0 2px 2px black;
    z-index: 100;
}

#header {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 10px;
    box-shadow: 0 2px 2px black;
    margin: 0;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 10px;
}

#nav-toggle:checked~nav #menu {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

#logo {

    text-align: center;
    margin-right: 60px;
}

#menu {
    list-style: none;
    display: flex;
    background-color: gray;
    padding: 0;
    margin: 0;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
}

#menu li {
    margin-right: 20px;
    padding-top: 5px;
}

main {
    background-color: white;
    margin-bottom: 2px;
}

/*vover banner*/
#banner {
    background: url("../images/banner.webp")no-repeat center center/cover;
    width: 100%;
    height: 400px;
    box-shadow: 2px gray;
    position: relative;
    margin-top: 110px;
}

/*text css*/
#text {

    background-color: light gray;

    font-size: 160%;
    position: absolute;
    bottom: 160px;
    width: 80%;
    min-height: 200px;
    margin-top: 2px;
    padding-top: 1px;
    padding-left: 5px;
    color: rgb(2, 49, 2);
    font-weight: bold;
    text-align: right;
}

#category {
    text-align: center;

    padding: 0;
    margin-top: 30px;

}

section {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.image {
    flex: 2;
    margin: 1px;

    width: 300px;

}

.image img {
    box-shadow: 2px 2px 2px 2px green;
    width: 100%;
    height: 200px;
    line-height: 1em;
    margin-right: 1px;
    margin-top: 10px;
    padding: 0;
    margin: 0;
}

#collection {
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    color: dark green rgb(94, 145, 94);
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    header {
        padding: 10px;
    }

    #menu {
        display: none;
        text-align: center;
        flex-direction: column;
    }

    #menu a {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    #nav-toggle-label {
        display: block;
        font-size: 2rem;
    }

    #nav-toggle:checked~nav #menu {
        display: flex;
    }
}

/*larger screen*/

@media screen and (min-width: 768px) {

    .gallery_img {
        column-count: 4;
        margin-top: 10px;
        max-width: 500%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: gray;
        padding: 10px;
        box-shadow: 0 2px 2px black;
        margin: 0;
    }

    #menu {
        display: flex;
        background-color: gray;
    }

    #menu a {
        text-decoration: none;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    #menu li {
        margin-right: 30px;

        padding-top: 10px;
    }

    .nav-toggle-label {
        display: none;
    }

    #text {
        width: 300px;
        right: 50px;
    }

    main {
        margin-top: 10px;
    }

    .activee {
        /* border-top: 1px solid #3a3a3a; */
        box-shadow: 0 1px 0 0 rgb(184, 197, 184);
        margin-bottom: 20px;
        width: 60%;
        align-items: center;
        margin-top: 20;
        margin-left: 280px;
    }

    /* Form */
    #contact_us {
        background-position: center;
        display: flex;
        flex-direction: row;
        height: auto;

        top: 10px;
        position: relative;
    }

    #signup-form {

        max-width: 800px;
        text-align: left;
        flex: 1;
        height: 250px;

        display: flex;
        left: 10%;
        margin: 0 auto;
        padding: 20px;
        top: 2px;
    }

    .data_field:hover {
        border-color: #f16c6b;
    }

    #title_container {
        text-align: center;

        flex: 1;
    }

    /* #contact_title {
        color: rgb(195, 0, 255);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-bottom: 20px;
    }
*/
    h2 {
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }


    .btn_submit {
        background-color: #fafafa;

        width: 10%;
        position: absolute;
        margin-left: 80px;
        height: 10%;
        position: absolute;
        top: 75%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #thankyou {
        display: none;
    }

    /* Style the "Thank You" message */
    .message {
        color: green;
        font-size: 18px;
        text-align: center;
    }

    /* Show the message when it's targeted with an anchor link in the URL */
    #thankyou:target {
        display: block;
    }

    #map-container {
        width: 100%;

        height: 400px;
        margin-top: 50px;
    }
}



footer {

    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    color: green;
    margin-top: 100px;
}

#footer-icon {
    list-style: none;
    color: green;
    padding: 0;
    display: flex;
    font-size: 30px;

}

#footer-icon li {
    margin-right: 50px;
    padding-top: 20px;
    color: green;
    justify-content: center;

}


#contact_us {
    margin-top: 120px;

    padding: 20px 10% 0 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    align-items: center;

}


/* #signup-form {
    margin-left: 100px;
    margin-bottom: 80px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;

    width: 100%;
} */
#signup-form {
    color: #ffffff;

    margin-bottom: 80px;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#data_field {
    flex-direction: column;
    flex: 1;
    display: flex;

}

#signup-form>h2 {
    color: #ec1010;
    margin-bottom: 10px;
}

#message {
    flex: 1;
    margin-left: 20px;

}

#textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.signup_input {
    background: transparent;
    color: #fafafa;

    height: 20px;
    margin: 1px 0 2px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* 
#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;

    margin-top: 10px;
    width: 10%;

}
 */

.btn_submit {
    margin-top: 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 1px 14px;
    font-size: 100%;
    height: 10%;
    background-color: #babbb3;
    color: #fafafa;
    margin-right: 0;

}



/* .row {
    display: flex;
    flex-wrap: wrap;

}
*/
.gallery_img {
    line-height: 2;
    margin-top: -40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_img img {
    margin: 2px;
    padding: 10px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 2px green;
    width: 100%;
    margin-top: 180px;
}



.btn_add {
    text-align: center;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px black;
    border-radius: 2px;
}


/*Map*/
#map-container {
    width: 100%;

    height: 400px;
}